/* search */
.search_form{
    display: flex;
    height: 40px;
}

.search_form h1{

}

.search_form input[type="search"]{
    flex: 1;
    min-width: 0;
    margin-right: 10px;
    border-radius: 0.2em;
    border: 0;
    font-size: 1rem;
}

.search_form input[type="submit"]{
    border: 0;
    background: gold;
    width: 4em;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.3em;
}

/* menu */
.menu{
    display: flex;
}

.menu_item{
    width: 25%;
    background-color: gold;
    transition: all 0.2s ease-in-out;
}

.menu_item:hover{
    background-color: crimson;
    width: 35%;
}

.menu_link{
    display: block;
    font-size: 1.2rem;
    padding: 1em;
    font-weight: 700;
    text-decoration: none;
    color: #555;
    text-align: center;
}

.menu_link:hover{
    color: #fff;
}

/* primary - card_list */

.card_list{

}

.card_item{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.card_img{
    height: 0;
    padding: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: grey;
}

.card_img img{
    display: none;
}

.card_desc{
    background: #fff;
    padding: 1em;
    flex: 1 1 auto;
}

@media (min-width: 768px){
    .card_list{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;
    }
    .card_item{
        width: 50%;
        padding: 0 1rem;
    }
}

@media (min-width: 992px){
    .card_item{
        width: 33.33333%;
    }
}

/* bullet_list */
.info_list{
    margin-bottom: 1rem;
}

.info_list_item{
    display: flex;
    margin-bottom: 0.5rem;
}

.info_list_item::before{
    content: '👍';
    margin-right: 0.5rem;
}

/* user_list */

.user_item{
    display: flex;
    margin-top: 1.5em;
}

.user_img{
    /* flex-item의 크기가 줄어지지 않도록 설정 */
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: gold;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    margin-right: 0.5rem;
}   

/* userList */

.friend_item{
    align-items: center;
}

.user_name{
    /* 줄 넘김 방지 + 말 줄임표... */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* modal */
.modal_container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal{
    width: 50vh;
    background-color: #fff;
    border-radius: 10px;
    padding: 2em;
}