.menu{
    display: flex;  
}
.menu_item{
    background-color: gold;
    width: 25%;
    /* explorer에서 flex는 animate 적용이 안됨*/
    /* flex: 1 auto; */ 
    transition: all 0.2s ease-in-out;
}

.menu_item:hover{
    background: crimson;
    width: 35%;
    /* flex: 2 auto; */
}

.menu_link{
    display: block;
    /* em을 준 이유는 현재 font 크기만큼 패딩 설정 */
    padding: 1em;
    font-size: 1.2rem;
    font-weight: 600;
    color: #444;
    text-decoration: none;
    text-align: center;
}

.menu_link:hover{
    color: #fff;
}
