.search-form{
    display: flex;
    height: 40px;
}

.search-form input[type='search'] {
    flex: 1;
    margin-right: 10px;
    border: 0;
    border-radius: 0.3em;
    font-size: 1rem;
}

.search-form input[type='submit'] {
    border: 0;
    background: gold;
    width: 4em;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.3em;
}