body{
    /* padding: 1rem; */
    overflow-x: hidden;
}
.card_list{
    
}

.card_item{
    margin-bottom: 2rem;
    /* 주축을 column으로 설정 */
    display: flex;
    flex-direction: column;
}


.card_img{
    background-color: grey;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* 반응형 box 만들기 */
    height: 0;
    /* width 100이면 height: 60 */
    padding-bottom: 60%;
}

.card_img img{
    display: none;
}

.card_desc{
    background-color: #fff;
    padding: 1em;
    /* height이 stretch되어 일정해짐 */
    /* flex: auto; */
    flex: 1 1 auto;
}

/* 2단 컬럼 */
@media (min-width: 768px){
    .card_list{
        display: flex;
        flex-wrap: wrap;
        /* item의 padding만큼 -값 설정 */
        margin: 0 -1rem;
        /* justify-content: space-between; */
    }
    .card_item{
        width: 50%;
        padding: 0 1rem;
    }
}

@media (min-width: 998px){
    .card_item{
        width: 33.33333%;
    }
}