:root {
  /* color */
  --black--color: #030303;
  --grey--color: #909090;
  --blue--color: #065fd4;
  --red--color: #cc0000;
  --white--color: #fff;
  /* font size */
  --font--large: 18px;
  --font--medium: 16px;
  --font--small: 14px;
  --font--micro: 12px;
  /* size */
  --large--padding: 1.5rem;
  --small--padding: 1rem;
  --icon--ppading: 8px;
  --avatar--large--size: 40px;
  --avarar--small--size: 24px;
  /* border */
  --border--color: #e9e8e9;
  --background--black--color: #252525;
}

#wrap {
  background: #fff;
  width: 100%;
}

.icon {
  font-size: var(--font--large);
  height: 24px;
  width: 24px;
  cursor: pointer;
  padding: 8px;
}

button,
button:focus {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}
/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--small--padding);
  height: 56px;
  /* 상단 고정 */
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.header .header__left {
  display: flex;
  align-items: center;
}

/* .header .header__left .btn {
  margin-right: 6px;
} */

/* .header .header__left .logo__container {
  width: 80px;
} */

.header__center {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 100%;
}

.header__center .back_btn {
  font-size: 1rem;
  padding: 8px;
  margin-right: 8px;
}
.header__center .search__form {
  display: flex;
  width: 70%;
  background-color: #fff;
  padding: 3px 6px;
  border: 1px solid var(--border--color);
}

.header__center .search__form .search__input {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  padding: 2px 6px;
  width: 100%;
}

.header__center .search__form button {
  font-size: 1rem;
}

.header__center .search__btn {
  width: 60px;
  height: 30px;
  border: 1px solid var(--border--color);
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0;
  color: grey;
}

.header__center .search__btn:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.1);
}

.header .header__right {
  display: flex;
}

.search__box .search_icon,
.header .header__right .icon__box,
.header .header__right .icon__box i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .header__right .icon__box .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.8rem;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #6d4c41;
  margin: 0 0.3em;
}

/* 검색창 보이도록 */
.visible {
  display: flex;
  align-items: center;
}
/* 로고 크기 */
.logo__container {
  width: 80px;
}
/* 로고 버튼 마진 */
.aside__btn {
  margin-right: 6px;
  padding: 0;
}
/* header - end */

/* aside */

.side__background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9;
}

.side__container {
  display: block;
  position: fixed;
  width: 250px;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
  transform: translate(-250px, 0);
  z-index: 1000;
  overflow-y: auto;
}

.side .side__logoBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
  padding-left: 1rem;
  border-bottom: 1px solid var(--border--color);
}

.show {
  display: block;
  transform: translate(0, 0);
}

.side__menu {
  padding: 8px 0;
  border-bottom: 1px solid var(--border--color);
}

.side__menu__item {
  display: flex;
  align-items: center;
  padding: 0 24px;
  height: 40px;
  font-size: var(--font--small);
  cursor: pointer;
}

.side__menu__item__title {
  display: flex;
  align-items: center;
  padding: 0 24px;
  height: 40px;
  font-size: 1rem;
}

.side__menu__item:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.side__menu__item i {
  margin-right: 1rem;
  padding: 0;
  width: 24px;
  font-size: 1rem;
  height: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side__menu__expansion,
.sub__side__menu__expansion {
  display: none;
}
.side__menu__expansion.show,
.sub__side__menu__expansion.show {
  display: block;
}

.side__menu__item figure {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 1rem;
  background-image: url("./img/kang.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.side__menu__item figure img {
  border-radius: 50%;
}

.guide__info {
  padding: 8px 16px 0;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.guide__info a {
  font-size: var(--font--small);
  color: var(--grey--color);
  margin-right: 8px;
}

.copyright {
  color: var(--grey--color);
  padding: 24px 16px;
  font-size: 13px;
}

/* aside - end */

/* main - video */
main {
  margin-top: 56px;
  margin: 0 24px;
}

/* player */
.player {
  padding-top: var(--large--padding);
}

.player video {
  width: 100%;
  height: 100%;
  /* max-width: 720px; */
  min-width: 430px;
}

/* video info */
.video__info {
  padding: var(--small--padding) 0;
  border-bottom: 1px solid var(--border--color);
}

.video__info .hashtags {
  display: flex;
  color: var(--blue--color);
  font-size: var(--font--micro);
  padding-bottom: 4px;
}

.video__info .hashtags li {
  padding-right: 5px;
}

.video__info .title {
  font-size: var(--font--large);
  color: var(--black--color);
  /* line clamp 줄 제한 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 5px;
}

.video__info .meta_data {
  display: flex;
  align-items: center;
  font-size: var(--font--small);
}

.video__info .meta_data .views {
  padding-right: 5px;
}

.video__info .meta_data .btns {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.video__info .meta_data .btns button {
  color: var(--grey--color);
}

.video__info .meta_data .btns button.active {
  color: var(--blue--color);
}

/* channel info */
.channel {
  padding: var(--small--padding) 0;
  border-bottom: 1px solid var(--border--color);
}

.channel .top {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.channel .top img {
  width: var(--avatar--large--size);
  border-radius: 50%;
  margin-right: 10px;
}

.channel .top .name {
  font-weight: 600;
}

.channel .top button {
  margin-left: auto;
  text-transform: uppercase;
  padding: 10px var(--small--padding);
  background: var(--red--color);
  color: var(--white--color);
  border-radius: 4px;
}

.channel .meta_data {
  margin-left: 50px;
}

.channel .meta_data .hashtags {
  display: flex;
  color: var(--blue--color);
  font-size: var(--font--small);
  margin-bottom: 10px;
}
.channel .meta_data .hashtags li {
  padding-right: 5px;
  cursor: pointer;
}

/* next */
.next {
  margin: 10px;
  padding-bottom: var(--large--padding);
  border-bottom: 1px solid var(--border--color);
}

.next .title {
  color: var(--black--color);
  font-size: var(--font--medium);
  margin-bottom: calc(var(--small--padding) / 2);
}

.next ul .next__item {
  display: flex;
  margin-bottom: 8px;
  cursor: pointer;
}

.next ul .next__item .img {
  width: 164px;
  height: 94px;
}

.next ul .next__item .img img {
  min-width: 164px;
  height: 94px;
}

.next ul .next__item .info {
  width: 95%;
  display: flex;
  flex-direction: column;
}

.next ul .next__item button {
  width: 5%;
}

.next ul .next__item .info .title {
  font-size: var(--font--small);
  color: var(--black--color);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 5px;
}

.next ul .next__item .info .name,
.next ul .next__item .info .metadata {
  font-size: var(--font--micro);
  color: var(--grey--color);
}

.next__item .more__btn {
  display: none;
}

.next__item:hover .more__btn {
  display: flex;
  justify-content: flex-end;
}

/* comment */

.comment {
}

.comment .comment__header {
}

.comment .comment__header .count {
  display: flex;
  margin-bottom: var(--large--padding);
}
.comment .comment__header .count span {
  margin-right: 20px;
  color: var(--black--color);
}
.comment .comment__header .count button {
  color: var(--grey--color);
  font-size: var(--font--small);
}
.comment .editor {
  display: flex;
}
.comment .editor .avatar {
  width: 44px;
  height: 40px;
  background: #6d4c41;
  color: var(--white--color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
.comment .editor .main {
  width: 100%;
}

.comment .editor .main input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--grey--color);
  font-size: var(--font--small);
}
.comment .editor .main input:focus + .btns {
  display: flex;
  justify-content: flex-end;
}

.comment .editor .main .btns {
  display: none;
  font-size: var(--font--small);
  padding-top: 8px;
}

.comment .editor .main .btns button {
  padding: 10px 16px;
}
.comment .editor .main .btns button:nth-child(2) {
  background-color: #cccccc;
  color: var(--white--color);
}

.comment .body .comment__item {
  display: flex;
  margin-top: var(--large--padding);
}
.comment .body .comment__item .avatar {
  border-radius: 50%;
  width: var(--avatar--large--size);
  height: var(--avatar--large--size);
  min-width: 40px;
  margin-right: var(--large--padding);
}

.comment .body .comment__item .avatar img {
  width: 100%;
  height: 100%;
}

.comment .body .comment__item .main {
  width: 90%;
}

.comment .body .comment__item .content {
  display: flex;
  flex-direction: column;
}
.comment .body .comment__item .author {
  margin-bottom: 5px;
}
.comment .body .comment__item .actions {
  font-size: 12px;
  color: var(--grey--color);
}

.comment .body .replies {
  color: var(--blue--color);
  display: flex;
  align-items: center;
}
.comment .body .replies i {
  margin-right: 10px;
}

@media screen and (min-width: 668px) {
  /* search 크게 */
  .header__center {
    position: static;
    display: flex;
    flex: 1;
    max-width: 780px;
    margin: 0 20px 0 40px;
  }
  .header__center .search__form {
    width: 100%;
  }
  .search__box,
  .header__center .back_btn {
    display: none;
  }
}

/* 1024px */
@media (min-width: 1020px) {
  main {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 400px;
  }
  .player {
    grid-column: 1;
  }
  .video__info {
    grid-row: 2;
  }
  .channel {
    grid-row: 3;
  }
  .comment {
    grid-row: 4;
  }
  .next {
    margin-left: 50px;
    grid-column: 2;
    grid-row: 1 / 5;
  }
}
