:root {
  /* color */
  --black--color: #030303;
  --grey--color: #909090;
  --blue--color: #065fd4;
  --red--color: #cc0000;
  /* font size */
  --font--large: 18px;
  --font--medium: 16px;
  --font--small: 12px;
  --font--micro: 10px;
  /* size */
  --large--padding: 1.5rem;
  --small--padding: 1rem;
  --avatar--large--size: 40px;
  --avarar--small--size: 24px;
  /* border */
  --border--color: #e9e8e9;
}

body {
  background: ivory;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--small--padding);
  height: 56px;
  /* 상단 고정 */
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.header .header__left {
  display: flex;
  align-items: center;
}

/* .header .header__left .btn {
  margin-right: 6px;
} */

/* .header .header__left .logo__container {
  width: 80px;
} */

.header__center {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 100%;
}

.header__center .back_btn {
  font-size: 1rem;
  padding: 8px;
  margin-right: 8px;
}
.header__center .search__form {
  display: flex;
  width: 70%;
  background-color: #fff;
  padding: 3px 6px;
  border: 1px solid var(--border--color);
}

.header__center .search__form .search__input {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  padding: 2px 6px;
  width: 100%;
}

.header__center .search__form button {
  font-size: 1rem;
}

.header__center .search__btn {
  width: 60px;
  height: 30px;
  border: 1px solid var(--border--color);
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0;
  color: grey;
}

.header__center .search__btn:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.1);
}

.header .header__right {
  display: flex;
}

.search__box .search_icon,
.header .header__right .icon__box,
.header .header__right .icon__box i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .header__right .icon__box .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.8rem;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #6d4c41;
  margin: 0 0.3em;
}

.icon {
  font-size: 1.2rem;
  height: 24px;
  width: 24px;
  cursor: pointer;
  padding: 8px;
}
/* 검색창 보이도록 */
.visible {
  display: flex;
  align-items: center;
}
/* 로고 크기 */
.logo__container {
  width: 80px;
}
/* 로고 버튼 마진 */
.aside__btn {
  margin-right: 6px;
  padding: 0;
}
/* header - end */

/* aside */

.side__background {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.side__container {
  display: block;
  position: absolute;
  width: 250px;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
  transform: translate(-250px, 0);
  z-index: 1000;
  overflow-y: auto;
}

.side .side__logoBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
  padding-left: 1rem;
  border-bottom: 1px solid var(--border--color);
}

.show {
  display: block;
  transform: translate(0, 0);
}

.side__menu {
  padding: 8px 0;
  border-bottom: 1px solid var(--border--color);
}

.side__menu__item {
  display: flex;
  align-items: center;
  padding: 0 24px;
  height: 40px;
  font-size: 1rem;
  cursor: pointer;
}

.side__menu__item__title {
  display: flex;
  align-items: center;
  padding: 0 24px;
  height: 40px;
  font-size: 1rem;
}

.side__menu__item:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.side__menu__item i {
  margin-right: 1rem;
  padding: 0;
  width: 24px;
  font-size: 1rem;
  height: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side__menu__expansion,
.sub__side__menu__expansion {
  display: none;
}
.side__menu__expansion.show,
.sub__side__menu__expansion.show {
  display: block;
}

.side__menu__item figure {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 1rem;
  background-image: url("./img/kang.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.side__menu__item figure img {
  border-radius: 50%;
}

.guide__info {
  padding: 8px 16px 0;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.guide__info a {
  font-size: var(--font--small);
  color: var(--grey--color);
  margin-right: 8px;
}

.copyright {
  color: var(--grey--color);
  padding: 24px 16px;
  font-size: 13px;
}

/* aside - end */

/* main - video */
main {
  margin-top: 80px;
}

.player {
  margin-left: var(--large--padding);
  padding-top: var(--large--padding);
  padding-right: var(--large--padding);
}
/* video 반응형 */
.player video {
  width: 100%;
  height: 100%;
  max-width: 720px;
  min-width: 430px;
}

.video__info {
  margin-left: var(--large--padding);
}

@media screen and (min-width: 668px) {
  /* search 크게 */
  .header__center {
    position: static;
    display: flex;
    flex: 1;
    max-width: 780px;
    margin: 0 20px 0 40px;
  }
  .header__center .search__form {
    width: 100%;
  }
  .search__box,
  .header__center .back_btn {
    display: none;
  }
}

/* 1024px */
