body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #222222;
    background-color: #ffffff;
    background: url(/image/lego.png) no-repeat white;
    background-size: 50vw;
}
